[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
argparse = "*"
pytest = "*"
duckdb = "*"
pyarrow = "*"
requests = "~=2.31.0"
polars = "~=0.20.25"

[dev-packages]
pylint = "*"

[scripts]
sync_boston = "aws s3 sync s3://hubway-data ./data/boston/zip"
sync_nyc_s3 = "aws s3 sync s3://tripdata ./src/data/nyc_zip"
sync_dc = "aws s3 sync s3://capitalbikeshare-data ./data/dc/zip"
build = "python3 ./scripts/main.py --parquet"
build_boston = "bash -c 'pipenv run sync_boston && pipenv run build Boston'"

[requires]
python_version = "3.9"
