[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
inquirer = "*"

[dev-packages]

[scripts]
syncS3 = "aws s3 sync s3://hubway-data ./data/bluebikeData"

[requires]
python_version = "3.9"
