[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
argparse = "*"
pytest = "*"
pyarrow = "*"
requests = "~=2.31.0"
polars = "~=0.20.25"
playwright = "*"
ruff = "*"
pymysql = "*"
sqlalchemy = "*"
duckdb = "*"

[dev-packages]
pylint = "*"

[scripts]
sync = "python3 ./scripts/sync_city.py"
sync_all = "python3 sync.py"
build = "python3 ./scripts/main.py"
analyze_city = "python3 ./scripts/analysis/main.py"
sync_and_build = "python3 ./scripts/sync_and_build_city.py"
analyze_trips_by_system_year = "python3 ./scripts/analysis/trips_by_year_system.py"

[requires]
python_version = "3.9"
