name: london
system_name: london_bikeshare
source_url: "https://cycling.data.tfl.gov.uk/"
aws_sync: true
s3_bucket: s3://cycling.data.tfl.gov.uk/usage-stats

file_matcher:
  - ".csv"

renamed_columns:
  # Latest columns
  Start date: start_time
  End date: end_time
  Start station: start_station_name
  End station: end_station_name
  # Legacy Columns 1
  Start Date: start_time
  End Date: end_time
  EndStation Name: end_station_name
  StartStation Name: start_station_name
  # Legacy Columns 2
  End Station Name: end_station_name
  Start Station Name: start_station_name

date_formats:
  - "%d/%m/%Y %H:%M"
  - "%Y-%m-%d %H:%M"

read_csv_options:
  encoding: "utf8-lossy"
processing_pipeline:
  # Some files like 9a Journey Data Extract 17Aug14-31Aug14.csv, 13b. Journey Data Extract 22Dec14-03Jan15.csv contain rows with no data
  - filter_null_rows
  - rename_columns
  - select_final_columns
  - convert_to_datetime

