name: vancouver
system_name: vancouver_bikeshare
source_url: "https://www.mobibikes.ca/en/system-data"
aws_sync: false

file_matcher:
  - "System_Data"

clean_pipeline: 
  - normalize_newlines
renamed_columns:
  Departure: start_time
  Return: end_time
  Bike: bike_id
  Electric bike: is_electric_bike
  Departure station: start_station_name
  Return station: end_station_name

  Covered distance (m): covered_distance_meters
  Duration (sec.): duration

  Membership type: membership_type
  Formula: membership_type
  Memebership type: membership_type
  Membership Type: membership_type

  Electric bike: electric_bike
  Electric Bike: electric_bike
  Electric: electric_bike

  Stopover duration (sec.): stopover_duration
  Stopover duration: stopover_duration
  "Lock duration (sec.)": stopover_duration

  "Number of bike locks": stopover_count
  Number of stopovers: stopover_count
  Number of bike stopovers: stopover_count

date_formats:
  - "%Y-%m-%d %H:%M"
  - "%m/%d/%Y %H:%M"

final_columns: 
- bike_id
- start_time
- end_time
- start_station_name
- end_station_name
- duration
- membership_type
- stopover_duration
- stopover_count

read_csv_options:
  encoding: utf8-lossy
  schema_overrides: 
    Duration (sec.): Int64 

processing_pipeline:
  - filter_null_rows
  - rename_columns
  - convert_to_datetime
  - offset_two_digit_years
  - select_final_columns
